
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    display: grid;
    place-items: center;
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    color: #333;
    margin: 0;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img.image_cap{
  position: relative;
  width: 250px;
  height: 354px;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
.page-content-descFilm {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
.film-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
.characters {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .characters {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-content-descFilm {
    grid-template-columns: repeat(1, 1fr);
  }
  .film-content {
    grid-template-columns: repeat(2, 2fr);
  }
  .film-content-row {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
  .characters {
    grid-template-columns: repeat(4, 1fr);
  }
  .page-content-descFilm {
    grid-template-columns: repeat(1, 1fr);
  }
  .filmContent {
    grid-template-columns: repeat(2, 2fr);
  }
  .film-content-row {
    grid-template-rows: repeat(2, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.336) 46.6%, rgba(0, 0, 0, 0.308) 53.1%, rgba(0, 0, 0, 0.363) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(/img/films/ANewHope.jpg);
}
.card:nth-child(2):before {
  background-image: url(/img/films/AttackoftheClones.jpg);
}
.card:nth-child(3):before {
  background-image: url(/img/films/ThePhantomMenace.jpg);
}
.card:nth-child(4):before {
  background-image: url(/img/films/RevengeoftheSith.jpg);
}
.card:nth-child(5):before {
  background-image: url(/img/films/ReturnoftheJedi.jpg);
}
.card:nth-child(6):before {
  background-image: url(/img/films/TheEmpireStrikesBack.jpg);
}
.card:nth-child(7):before {
  background-image: url(/img/films/TheForceAwakens.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

.filmDetails{
	width: 100%;
	text-align: center;
	color: white
}

.filmDetails>.title{
	text-align: left;
}

.filmDetails>.opening_crawl{
	justify-content: center
}

.dataCharacters{
  font-size: 15px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.59);
}


/* 
  * Loader
*/

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
    
.loader-17 .css-square { 
  position: absolute;
  top: 50%;
  width: 25px; height: 7px;
background: white;
-webkit-box-shadow: 2px 2px 3px 0px black;
        box-shadow: 2px 2px 3px 0px black;
}

.loader-17 .square1 {
    left: 70px;
    -webkit-animation: dominos 1s 0.125s ease infinite;
    animation: dominos 1s 0.125s ease infinite;
}

.loader-17 .square2 {
    left: 60px;
    -webkit-animation: dominos 1s 0.3s ease infinite;
    animation: dominos 1s 0.3s ease infinite;
}

.loader-17 .square3 {
    left: 50px;
    -webkit-animation: dominos 1s 0.425s ease infinite;
    animation: dominos 1s 0.425s ease infinite;
}

.loader-17 .square4 {
    left: 40px;
    -webkit-animation: dominos 1s 0.540s ease infinite;
    animation: dominos 1s 0.540s ease infinite;
}

.loader-17 .square5 {
    left: 30px;
    -webkit-animation: dominos 1s 0.665s ease infinite;
    animation: dominos 1s 0.665s ease infinite;
}

.loader-17 .square6 {
    left: 20px;
    -webkit-animation: dominos 1s 0.79s ease infinite;
    animation: dominos 1s 0.79s ease infinite;
}

.loader-17 .square7 {
    left: 10px;
    -webkit-animation: dominos 1s 0.9s ease infinite;
    animation: dominos 1s 0.9s ease infinite;
}

.loader-17 .square8 {
    left: 0px;
    -webkit-animation: dominos 1s 1s ease infinite;
    animation: dominos 1s 1s ease infinite;
}

@-webkit-keyframes dominos {
  50% { opacity: 0.7; }
  75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  80% { opacity: 1; } 
 }
    
 @keyframes dominos {
  50% { opacity: 0.7; }
  75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  80% { opacity: 1; } 
 }